# create env, e.g. via ```conde create -n foolingnns```
# install latest python version :) 

# packages for Fooling_Neural_Network_Interpretation
# install pytorch as specified on the pytorch website 
# as Fooling_Neural_Network_Interpretation requires PyTorch 0.4.1: 
# conda install pytorch=0.4.1 cuda90 -c pytorch
# install torchvision via: 
# conda install torchvision
h5py
scipy
opencv-python
matplotlib
scikit-image
visdom
pandas
ipykernel
ipywidgets