# create env, e.g. via ```conde create -n foolingnns```
# install latest python version :) 

# packages for Fooling_Neural_Network_Interpretation
# install pytorch as specified on the pytorch website 
# as Fooling_Neural_Network_Interpretation requires PyTorch 0.4.1: 
# conda install pytorch=0.4.1 cuda90 -c pytorch
h5py
scipy
opencv-python
matplotlib
scikit-image
visdom
pandas
ipykernel
ipywidgets

# lime test
lime
tensorflow-gpu==1.0
tf_slim
torchsummary
tqdm==4.43.0  # lime needs this

# mnist test
sklearn
graphviz
python-mnist

# shap test
shap
keras
